.temperature {
    font-size:80px;
}

.fewDaysForecast {
    background-color: #fff
}

/*.temperature_block > img {*/
    /*float: left;*/
/*}*/

.forecast_block {
    padding: 10px;
}

.temperature_block  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.temperature_block img {
    width: 150px;
    height: 150px;
}

.wind_block, .wind_block > div  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.wind_block > div img {
    margin-right: 5px;
}

.fewDaysForecast > div {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
}

.fewDaysForecast > div:nth-child(2n + 1) {
    background: #ebebeb;
}

